.parallaxSection1MarginFiller {
  position: relative;
  height: 400px;
  background: no-repeat center center;
  background-size: cover;
  background-attachment: fixed;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: black;
}

.reviewTestimonialText {
  font-size: 35pt;
  color: white;
  font-weight: bold;
}
