
.mindsetContainer,
.separatorMindset {
  display: flex;
  justify-content: space-between;
  width: 100%;
}
.separatorMindset {
  padding: 20px 0;
}
.mindsetContainer {
  align-items: flex-start;
  gap: 5%;
  max-width: 1200px;
  margin: -300px auto;
  padding-top: 20px;
}
.mindsetColumn {
  width: 45%;
  text-align: left;
  padding: 20px;
}
h2 {
  font-size: 1.5rem;
  color: #c0777c;
  font-weight: 700;
  font-family: "Josefin Sans", sans-serif;
  text-transform: uppercase;
  margin-bottom: 10px;
  text-align: center;
}
.mindsetLink,
.mindsetText {
  font-size: 1rem;
  font-weight: 700;
  font-family: "Josefin Sans", sans-serif;
}
.mindsetText {
  color: #333;
  line-height: 1.6;
  margin-bottom: 10px;
}
.mindsetLink {
  color: #8b1d1d;
  text-decoration: underline;
}
.separator-final-section {
  width: 100%;
  height: 400px;
}



@media (max-width: 1800px) {
  .mindsetContainer {
    align-items: flex-start;
    gap: 5%;
    max-width: 1200px;
    margin: -300px auto;
    padding-top: 20px;
    margin-left: 10px;
  }
  .mindsetColumn {
    width: 45%;
    text-align: center;
    padding: 20px;
  }

  h2 {
    font-size: 1rem; /* Riduce la dimensione del titolo per dispositivi più piccoli */
    text-align: center; /* Mantiene il titolo centrato */
    margin-bottom: 5px; /* Riduce lo spazio sotto il titolo */
  }

  .mindsetLink {
    color: #8b1d1d;
    text-decoration: underline;
    text-align: center;
    font-size: 0.9rem;
  }
}


@media (max-width: 700px) {
  .mindsetContainer {
    flex-direction: column; /* Dispone gli elementi in colonna */
    align-items: center; /* Centra il contenitore */
    gap: 30px; /* Riduce lo spazio tra le sezioni */
    padding: 10px; /* Riduce ulteriormente il padding */
    margin-bottom: auto;
  }

 
  .mindsetColumn {
    width: 40%; /* Ogni colonna prende il 60% della larghezza */
    text-align: center; /* Mantiene il testo allineato a sinistra */
    padding: 8px; /* Riduce il padding interno */
  }

  h2 {
    font-size: 1rem; /* Riduce la dimensione del titolo per dispositivi più piccoli */
    text-align: center; /* Mantiene il titolo centrato */
    margin-bottom: 5px; /* Riduce lo spazio sotto il titolo */
  }

  .mindsetLink {
    color: #8b1d1d;
    text-decoration: underline;
    text-align: center;
    font-size: 0.9rem;
  }
}


@media (max-width: 359px) 
{
  .mindsetContainer {
    flex-direction: column; /* Dispone gli elementi in colonna */
    align-items: center; /* Centra il contenitore */
    gap: 30px; /* Riduce lo spazio tra le sezioni */
    padding: 10px; /* Riduce ulteriormente il padding */
    margin-bottom: auto;
  }

 
  .mindsetColumn {
    width: 30%; /* Ogni colonna prende il 60% della larghezza */
    text-align: center; /* Mantiene il testo allineato a sinistra */
    padding: 8px; /* Riduce il padding interno */
  }

  h2 {
    font-size: 1rem; /* Riduce la dimensione del titolo per dispositivi più piccoli */
    text-align: center; /* Mantiene il titolo centrato */
    margin-bottom: 5px; /* Riduce lo spazio sotto il titolo */
  }
  .mindsetLink {
    color: #8b1d1d;
    text-decoration: underline;
    text-align: center;
    font-size: 1rem;
  }
}