.container{
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.container h1 {
    font-size: 6em;
    color: #ff6b6b;
}

.container p {
    font-size: 1.5em;
    margin: 10px 0 20px;
}

.backHome {
    display: inline-block;
    padding: 10px 20px;
    color: #fff;
    background-color: #f29aa0;
    text-decoration: none;
    border-radius: 5px;
    font-size: 1em;
}

.backHome:hover {
    background-color: #f18bbe;
}
