.overview-modal {
  display: grid;
  grid-template-columns: 1fr 1fr;
  height: 90vh;
}

.overview-modal > h1 {
  grid-column: span 2;
}
.overview-modal > button {
  grid-column: span 2;
}

.main-details {
  grid-column: span 2;
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.main-details > img {
  grid-row: span 2;
  max-height: 300px;
  border-radius: 15px;
  margin: 20px auto;
}

.main-details > span {
  font-size: 1.4rem;
  font-weight: bold;
  margin: 20px;
  text-align: start;
}

.overview-months {
  background-color: rgb(221, 173, 230);
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: start;
  justify-content: start;
  max-height: 500px;
  overflow-y: auto;
  border-start-start-radius: 15px;
  border-end-start-radius: 15px;
}

.overview-months > h2,
.overview-months > p {
  grid-column: span 2;
  padding: 10px;
}

.month-card {
  background-color: lightgreen;
  border-radius: 15px;
  margin: 10px;
  padding: 10px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  gap: 15px;
}

.month-videos {
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: start;
  justify-content: start;
  max-height: 225px;
  overflow-y: auto;
}

.month-videos > a {
  text-decoration: none;
  text-transform: lowercase;
  border-radius: 15px;
  color: whitesmoke;
  margin: 8px;
  padding: 10px;
  background-color: #333;
}

.overview-subcategories {
  background-color: lightcoral;
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: start;
  justify-content: start;
  max-height: 500px;
  overflow-y: auto;
  border-start-end-radius: 15px;
  border-end-end-radius: 15px;
}

.overview-subcategories > h2,
.overview-subcategories > p {
  padding: 10px;
  grid-column: span 2;
}

.subcategory-card {
  background-color: lightgreen;
  border-radius: 15px;
  margin: 10px;
  padding: 10px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  gap: 15px;
  height: 600px;
}

.subcategory-card > div {
  width: 100%;
  margin: 0 auto;
  padding: 0;
}

.subcategory-card img {
  width: 100%; /* Ensures it fills the container */
  max-height: 150px;
  border-radius: 15px;
  object-fit: cover;
  display: block; /* Prevents unwanted spacing below the image */
}
.subcategory-card > span:nth-child(3) {
  font-size: 1rem;
  font-weight: bold;
  margin: 20px;
  text-align: start;
  max-height: 100px;
  overflow-y: auto;
}

.subcategory-videos {
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: start;
  justify-content: start;
  max-height: 200px;
  overflow-y: auto;
  justify-content: center;
}

.subcategory-videos > a {
  text-decoration: none;
  text-transform: lowercase;
  border-radius: 15px;
  color: whitesmoke;
  margin: 8px;
  padding: 10px;
  background-color: #333;
  font-size: 0.9rem;
  min-height: 80px;
  max-height: 90px;
  text-align: center;
}

.overview-close {
  width: 200px;
  margin: 2px auto;
  padding: 10px;
  background-color: rgb(216, 27, 27);
  color: wheat;
  border-radius: 15px;
}

.overview-close:hover {
  background-color: rgb(248, 94, 94);
  color: white;
}
