.overviewCategory {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
  max-height: 90vh;
}

.overviewCategory .flexContainer {
  display: flex;
  justify-content: center;
  height: 100%;
  width: 100%;
}

.overviewCategory .left {
  width: 40%;
}

.overviewCategory .right {
  width: 60%;
  max-height: 75vh;
  overflow-y: scroll;
  background-color: #f9f9f9;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.overviewCategory .left h2 {
  font-size: 2rem;
  margin-bottom: 1rem;
  color: #4c6ef5;
}

.categoryDetails {
  padding: 20px;
  background-color: #f9f9f9;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.categoryDetails h2 {
  font-size: 1.8rem;
  font-weight: 600;
  margin-bottom: 1rem;
  color: #4c6ef5;
}

.categoryImage {
  margin-right: 15px; /* Adds spacing between the image and the text */
  max-width: 400px; /* Limits the image width */
  max-height: 400px; /* Limits the image height */
  border-radius: 8px; /* Rounds the corners of the image */
  object-fit: cover; /* Ensures the image maintains its aspect ratio */
}

.categoryDetails p {
  font-size: 1rem;
  line-height: 1.5;
  color: #333;
  text-align: justify; /* Optional: Aligns the text for a cleaner look */
}

.categoryDetails p strong {
  color: #4c6ef5;
  text-decoration: none;
  font-size: large;
  margin-bottom: 10px;
}

.overviewCategory button {
  flex: 1;
  padding: 8px 15px;
  font-size: 0.85em;
  font-weight: bold;
  border-radius: 8px;
  border: none;
  cursor: pointer;
  transition: background-color 0.2s ease-in-out;
  text-align: center;
  white-space: nowrap;
  background: #e53e3e;
  color: #fff;
}

.overviewCategory button:hover {
  background: #c53030;
}
.monthsContainer {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 15px;
}
.months {
  padding: 20px;
}
.monthDetails {
  display: flex;
  background-color: #f9f9f9;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  flex-direction: column;
  align-items: center;
  width: 400px;
  max-height: 600px;
  border-radius: 10px;
}

.monthDetails p {
  font-size: 1rem;
  line-height: 1.5;
  color: #333;
  padding-left: 10px;
  padding-right: 10px;
}

.monthDetails p strong {
  color: #4c6ef5;
  text-decoration: none;
  font-size: large;
  margin-bottom: 10px;
}

.monthDetails a {
  display: block;
  color: #2549d8;
  text-decoration: none;
  font-size: large;
  font-weight: bold;
  height: fit-content;
  width: 200px;
  padding: 10px;
  border-radius: 8px;
  border: 1px solid #c53030;
}

.monthContent {
  background-color: #e1e1e1;
  height: 100%;
  overflow-y: scroll;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  border-bottom-right-radius: 10px;
  border-bottom-left-radius: 10px;
}

.subcategories {
  padding: 20px;
}

.subcategoryDetails {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 400px;
  max-height: 600px;
  border-radius: 10px;
  background-color: #f9f9f9;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.subcategoriesContainer {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 15px;
}

.subcategoryContent {
  background-color: #e1e1e1;
  height: 100%;
  overflow-y: scroll;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  border-bottom-right-radius: 10px;
  border-bottom-left-radius: 10px;
}

.subcategoryDetails p {
  font-size: 1rem;
  line-height: 1.5;
  color: #333;
  padding-left: 10px;
  padding-right: 10px;
}

.subcategoryDetails p strong {
  color: #4c6ef5;
  text-decoration: none;
  font-size: large;
  margin-bottom: 10px;
}

.subcategoryDetails a {
  display: block;
  color: #2549d8;
  text-decoration: none;
  font-size: large;
  font-weight: bold;
  height: fit-content;
  width: 200px;
  padding: 10px;
  border-radius: 8px;
  border: 1px solid #c53030;
}
