.edit-category {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.edit-category h1 {
  margin: 10px auto;
}

.edit-category form {
  width: 100%;
}

.edit-first-section {
  background-color: antiquewhite;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 10px;
  border-radius: 15px;
}

.name-edit {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: start;
  margin: 10px 0;
}

.name-edit label {
  margin: 5px 20px;
}

.name-edit input {
  width: calc(100% - 40px);
  margin: 0 20px;
  padding: 5px;
  border-radius: 5px;
  border: 1px solid #b4b4b4;
  font-size: 1.4rem;
}

.image-edit {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 10px 0;
}

.custom-file-button {
  display: inline-block;
  padding: 10px 15px;
  background-color: #ff4081;
  color: white;
  font-weight: bold;
  border-radius: 5px;
  cursor: pointer;
  text-align: center;
}

.custom-file-button:hover {
  background-color: #e6006e;
}

.description-edit {
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: start;
  margin: 10px 0;
}

.description-edit label {
  margin: 5px 20px;
}

.description-edit div {
  width: 100%;
  margin: 0 10px;
}
.description-edit div[role="textbox"] {
  width: calc(100% - 40px);
  height: 100px;
  padding: 5px;
  border-radius: 5px;
  border: 1px solid #b4b4b4;
  font-size: 1.4rem;
  text-align: start;
  background-color: white;
  height: 100%;
  min-height: 200px;
  max-height: 400px;
  overflow-y: auto;
}

.image-preview {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 10px 0;
}

.image-preview img {
  max-height: 400px;
  border-radius: 15px;
}

.switch-button {
  background-color: #ff4081;
  color: white;
  font-weight: bold;
  border-radius: 5px;
  padding: 10px 15px;
  cursor: pointer;
  margin: 10px 0;
}

.new-month-card {
  background-color: #ffe2fe;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 10px;
  border-radius: 15px;
  margin: 20px 0;
  padding: 10px 0;
}

.month-input-name {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: start;
  margin: 10px 0;
}

.month-input-name span {
  width: calc(100% - 40px);
  margin: 0 20px;
  padding: 5px;
  border-radius: 5px;
  font-size: 1.4rem;
}
.month-input-description {
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: start;
  margin: 0;
  grid-row: span 2;
}

.month-input-description span {
  margin: 5px 20px;
}

.month-input-description div {
  width: 100%;
  margin: 0 10px;
}

.month-input-description div[role="textbox"] {
  width: calc(100% - 40px);
  height: 100px;
  padding: 5px;
  border-radius: 5px;
  border: 1px solid #b4b4b4;
  font-size: 1.4rem;
  text-align: start;
  background-color: white;
  height: 200px;
  overflow-y: auto;
}

.month-input-videos {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 10px 0;
}

.month-input-videos > button {
  background-color: #ff4081;
  color: white;
  font-weight: bold;
  border-radius: 5px;
  padding: 10px 15px;
  cursor: pointer;
  margin: 10px 0;
}

.month-display-selected {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.month-input-footer {
  display: flex;
  justify-content: center;
  align-items: center;
}

.month-input-footer button {
  background-color: #ff4081;
  color: white;
  font-weight: bold;
  border-radius: 5px;
  padding: 10px 15px;
  cursor: pointer;
  margin: 10px 0;
}

.no-months {
  background-color: antiquewhite;
  border-radius: 15px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 10px 0;
  grid-column: span 2;
}

.no-months span {
  margin: 10px auto;
  font-size: larger;
}

.video-input {
  position: fixed !important;
  display: block;
  width: 80vw;
  height: 100vh;
  top: 0vh;
  left: 10vw;
  overflow: auto;
  background-color: #888;
  z-index: 100;
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.video-input-available {
  background-color: antiquewhite;
  display: grid;
  grid-template-columns: 1fr 1fr;
  justify-content: start;
  align-items: start;
  margin: 10px 0;
  height: 92vh;
  overflow-y: auto;
  grid-template-rows: 80px repeat(auto-fill, 160px);
}

.video-input-available h1 {
  grid-column: span 2;
  margin: 20px auto;
}

.video-input-item {
  background-color: aquamarine;
  height: 150px;
  margin: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 15px;
}

.video-input-item span {
  margin: 5px auto;
}
.video-input-item a {
  text-decoration: none;
}

.video-input-item button {
  background-color: lightgreen;
  color: white;
  font-weight: bold;
  border-radius: 5px;
  padding: 10px 15px;
  cursor: pointer;
  margin: 10px 0;
}

.video-input-item button:hover {
  background-color: green;
}

.video-input-selected {
  background-color: antiquewhite;
  display: grid;
  grid-template-columns: 1fr 1fr;
  justify-content: start;
  align-items: start;
  margin: 10px 0;
  height: 92vh;
  overflow-y: auto;
  grid-template-rows: 80px repeat(auto-fill, 160px);
}

.video-input-selected > h1 {
  grid-column: span 2;
  margin: 10px auto;
}
.video-input-selected > span {
  grid-column: span 2;
  margin: 10px auto;
}

.video-input-item-selected {
  background-color: lightgreen;
  height: 150px;
  margin: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 15px;
}

.video-input-item-selected button {
  background-color: lightcoral;
  color: white;
  font-weight: bold;
  border-radius: 5px;
  padding: 10px 15px;
  cursor: pointer;
  margin: 10px 0;
}

.video-input-item-selected button:hover {
  background-color: red;
}

.video-input-footer {
  grid-column: span 2;
  background-color: aquamarine;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.video-input-footer button:first-child {
  background-color: #ff4081;
  color: white;
  font-weight: bold;
  border-radius: 5px;
  padding: 10px 15px;
  cursor: pointer;
  margin: 10px 0;
}

.video-input-footer button:first-child:hover {
  background-color: #e6006e;
}

.video-input-footer button:last-child {
  background-color: lightgreen;
  color: white;
  font-weight: bold;
  border-radius: 5px;
  padding: 10px 15px;
  cursor: pointer;
  margin: 10px 0;
}

.video-input-footer button:last-child:hover {
  background-color: green;
}

.existing-month-card {
  background-color: antiquewhite;
  width: 350px;
  height: 200px;
  margin: 5px auto;
  border-radius: 15px;
}

.month-card-content {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  padding: 0 5px;
}
.month-card-content > h1 {
  grid-column: span 3;
  margin: 10px auto;
  font-weight: 600;
  font-size: 1.4rem;
}

.month-card-content > button:nth-child(2) {
  background-color: #40d2ff;
  color: white;
  font-weight: bold;
  border-start-start-radius: 15px;
  border-end-start-radius: 15px;
  padding: 10px 15px;
  cursor: pointer;
  width: 75%;
  margin: 0 auto;
}
.month-card-content > button:nth-child(3) {
  background-color: #2c79ec;
  color: white;
  font-weight: bold;
  padding: 10px 15px;
  cursor: pointer;
  width: 75%;
  margin: 0 auto;
}
.month-card-content > button:nth-child(4) {
  background-color: #ff4040;
  color: white;
  font-weight: bold;
  border-start-end-radius: 15px;
  border-end-end-radius: 15px;
  padding: 10px 15px;
  cursor: pointer;
  width: 75%;
  margin: 0 auto;
}
.month-card-content > button:nth-child(2):hover {
  background-color: #00b0ff;
}
.month-card-content > button:nth-child(3):hover {
  background-color: #005cb2;
}
.month-card-content > button:nth-child(4):hover {
  background-color: #e60000;
}

.existing-section-month {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  justify-content: start;
  height: 400px;
  overflow-y: auto;
}

.editor-description {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 10px 0;
  position: fixed;
  width: 80vw;
  height: 100vh;
  top: 0vh;
  left: 10vw;
  overflow: auto;
  background-color: #888;
}

.editor-description-content {
  background-color: antiquewhite;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 10px 0;
  width: 1200px;
  height: 60%;
}

.editor-description-content span {
  margin: 10px;
  font-size: 2rem;
  font-weight: bold;
}

.editor-description-content div[role="textbox"] {
  width: 1000px;
  height: 100px;
  padding: 5px;
  border-radius: 5px;
  border: 1px solid #b4b4b4;
  font-size: 1.4rem;
  text-align: start;
  background-color: white;
  height: 100%;
  min-height: 200px;
  max-height: 400px;
  overflow-y: auto;
}

.editor-description-footer {
  width: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin: 10px 0;
}

.editor-description-footer button:first-child {
  width: 100px;
  height: 50px;
  font-size: 2rem;
  background-color: #ff4081;
  color: white;
  font-weight: bold;
  border-radius: 5px;
  padding: 10px 15px;
  cursor: pointer;
  margin: 10px 0;
}

.editor-description-footer button:first-child:hover {
  background-color: #e6006e;
}

.editor-description-footer button:last-child {
  width: 100px;
  height: 50px;
  font-size: 2rem;
  background-color: lightgreen;
  color: white;
  font-weight: bold;
  border-radius: 5px;
  padding: 10px 15px;
  cursor: pointer;
  margin: 10px 0;
}

.editor-description-footer button:last-child:hover {
  background-color: green;
}

.edit-second-section {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 10px;
}

.input-subCat {
  background-color: #ffe2fe;
  border-radius: 15px;
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.input-subCat-name {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: start;
  margin: 10px 0;
}

.input-subCat-name span {
  margin: 5px 20px;
}

.input-subCat-name input {
  width: calc(100% - 40px);
  margin: 0 20px;
  padding: 5px;
  border-radius: 5px;
  border: 1px solid #b4b4b4;
  font-size: 1.4rem;
}

.input-subCat-description {
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: start;
  margin: 10px 0;
}

.input-subCat-description span {
  margin: 5px 20px;
}
.input-subCat-description > div {
  width: 100%;
}
.input-subCat-description div[role="textbox"] {
  width: calc(100% - 40px);
  height: 100px;
  padding: 5px;
  border-radius: 5px;
  border: 1px solid #b4b4b4;
  font-size: 1.4rem;
  text-align: start;
  background-color: white;
  height: 200px;
  overflow-y: auto;
  margin: 0 20px;
}

.input-subCat-image {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 10px 0;
}

.input-subCat-image-preview {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 10px 0;
}

.input-subCat-image-preview img {
  max-height: 200px;
  border-radius: 15px;
}

.input-subCat-videos {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 10px 0;
}

.input-subCat-videos > button {
  background-color: #ff4081;
  color: white;
  font-weight: bold;
  border-radius: 5px;
  padding: 10px 15px;
  cursor: pointer;
  margin: 10px 0;
}

.input-subCat-footer {
  display: flex;
  justify-content: center;
  align-items: center;
}

.input-subCat-footer button {
  background-color: #ff4081;
  color: white;
  font-weight: bold;
  border-radius: 5px;
  padding: 10px 15px;
  cursor: pointer;
  margin: 10px 0;
}

.input-subCat-videos-number {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 10px 0;
}

.subCat-card-header {
  background: antiquewhite;
  height: 200px;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden; /* Ensures image does not overflow */
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
}

.subCat-card-header img {
  width: 100%;
  height: 100%;
  object-fit: cover; /* Ensures proper cropping */
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
}

.subCat-card-name {
  background-color: antiquewhite;
  padding: 10px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  height: 50px;
}

.subCat-card-name span {
  font-size: 1.4rem;
}

.subCat-card-description {
  background-color: antiquewhite;
  padding: 10px;
  text-align: left;
  display: flex;
  flex-direction: column; /* Ensures text flows properly */
  justify-content: flex-start;
  align-items: flex-start;
  height: auto; /* Adapts to content */
  overflow: auto;
  gap: 5px; /* Adds spacing between elements */
}

.subCat-card-description > span {
  font-size: 1rem;
}

.subCat-card-description > span:first-child {
  font-size: 1.2rem;
  font-weight: bold;
  width: 100%;
}

.subCat-card-videos {
  background-color: antiquewhite;
  padding: 10px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  height: auto;
  overflow: auto;
  gap: 5px;
}

.subCat-card-footer {
  background-color: antiquewhite;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  border-bottom-left-radius: 15px;
  border-bottom-right-radius: 15px;
}

.subCat-card-footer button:nth-child(1) {
  width: 100%;
  background-color: #40d2ff;
  color: white;
  font-weight: bold;
  border-end-start-radius: 15px;
  padding: 10px 15px;
  cursor: pointer;
}

.subCat-card-footer button:nth-child(2) {
  width: 100%;
  background-color: #2c79ec;
  color: white;
  font-weight: bold;
  padding: 10px 15px;
  cursor: pointer;
}
.subCat-card-footer button:nth-child(3) {
  width: 100%;
  background-color: #ff4040;
  color: white;
  font-weight: bold;
  border-end-end-radius: 15px;
  padding: 10px 15px;
  cursor: pointer;
}

.subCat-card-footer button:nth-child(1):hover {
  background-color: #00b0ff;
}

.subCat-card-footer button:nth-child(2):hover {
  background-color: #005cb2;
}
.subCat-card-footer button:nth-child(3):hover {
  background-color: #e60000;
}

.edit-subCat-modal {
  position: fixed;
  background-color: antiquewhite;
  border-radius: 15px;
  width: 80vw;
  height: 100vh;
  top: 0vh;
  left: 10vw;
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.edit-subCat-modal h1 {
  grid-column: span 2;
  margin: 10px auto;
}

.existing-subCat-card {
  margin: 10px auto;
}
.edit-subCat-modal > .edit-subCat-footer {
  grid-column: span 2;
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin: 10px 0;
}

.edit-subCat-name {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: start;
  margin: 10px 0;
}

.edit-subCat-name span {
  margin: 5px 20px;
}

.edit-subCat-name input {
  width: calc(100% - 40px);
  margin: 0 20px;
  padding: 5px;
  border-radius: 5px;
  border: 1px solid #b4b4b4;
  font-size: 1.4rem;
}

.edit-subCat-description {
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: start;
  margin: 10px 0;
}

.edit-subCat-description span {
  margin: 5px 20px;
}

.edit-subCat-description div {
  width: 100%;
  margin: 0 10px;
}

.edit-subCat-description div[role="textbox"] {
  width: calc(100% - 40px);
  height: 100px;
  padding: 5px;
  border-radius: 5px;
  border: 1px solid #b4b4b4;
  font-size: 1.4rem;
  text-align: start;
  background-color: white;
  height: 100%;
  min-height: 200px;
  max-height: 400px;
  overflow-y: auto;
}

.edit-subCat-image {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 10px 0;
}

.edit-subCat-image-preview {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 10px 0;
}

.edit-subCat-image-preview img {
  max-height: 650px;
  border-radius: 15px;
}

.edit-subCat-footer {
  display: flex;
  justify-content: center;
  align-items: center;
}

.edit-subCat-footer button:first-child {
  background-color: #ff4081;
  color: white;
  font-weight: bold;
  border-radius: 5px;
  padding: 10px 15px;
  cursor: pointer;
  margin: 10px 0;
}

.edit-subCat-footer button:first-child:hover {
  background-color: #e6006e;
}

.edit-subCat-footer button:last-child {
  background-color: lightgreen;
  color: white;
  font-weight: bold;
  border-radius: 5px;
  padding: 10px 15px;
  cursor: pointer;
  margin: 10px 0;
}

.edit-subCat-footer button:last-child:hover {
  background-color: green;
}

.edit-modal-footer {
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin: 10px 0;
}

.edit-modal-footer button:first-child {
  background-color: #ff4081;
  color: white;
  font-weight: bold;
  border-radius: 5px;
  padding: 10px 15px;
  cursor: pointer;
}

.edit-modal-footer button:first-child:hover {
  background-color: #e6006e;
}

.edit-modal-footer button:last-child {
  background-color: lightgreen;
  color: white;
  font-weight: bold;
  border-radius: 5px;
  padding: 10px 15px;
  cursor: pointer;
}

.edit-modal-footer button:last-child:hover {
  background-color: green;
}

.existing-section-subCat {
  height: 400px;
  overflow-y: auto;
}
