.hero {
  box-sizing: border-box;
  position: relative;
  width: 100vw;
  height: 100vh; /* Full viewport height */
  background-image: url("../../../assets/PNG/output-onlinepngtools.png");
  background-color: transparent;
  background-repeat: no-repeat;
  background-position: center; /* Center the image */
  background-size: cover; /* Cover the entire hero area */
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  z-index: 1; /* Ensure it's positioned correctly */
}

.hero::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.4);
  z-index: 1;
}

.heroText {
  position: absolute;
  left: 50px;
  bottom: 50%;
  text-align: left;
  z-index: 10;
}

.heroText h1 {
  font-size: 60px;
  color: #e47a94;
  margin: 0;
}

.heroText p {
  font-size: 18px;
  margin-top: 5px;
}

.bounceArrow {
  position: absolute;
  bottom: 50px;
  left: 50%;
  transform: translateX(-50%);
  font-size: 30px;
  animation: bounce 2s infinite;
  z-index: 10;
}

@keyframes bounce {
  0%,
  100% {
    transform: translateY(0) translateX(-50%);
  }
  50% {
    transform: translateY(-20px) translateX(-50%);
  }
}

.heroText span {
  display: inline-block;
  transition: all 0.3s ease;
}

.heroText span.visible {
  opacity: 1;
  transform: translateY(0);
}

.socialIcons {
  position: absolute;
  right: 5% !important; /* Lascia spazio per il posizionamento a sinistra se necessario */
  bottom: 37% !important; /* Altezza dal fondo */
  display: flex;
  flex-direction: column !important;
  gap: 50px;
  z-index: 10; /* Assicurati che l'elemento sia visibile sopra gli altri */
}

.socialIcons a {
  text-decoration: none;
  font-size: 35px;
  color: #e47a94;
  z-index: 10;
}

.socialIcons a:hover {
  color: #f29aa0;
}

.bounceArrow i {
  color: #f29aa0;
}

.bounceArrow i:hover {
  color: #d75494;
}

.ButtonCorsi {
  width: 96%;
  height: 50px;
  background-color: transparent;
  display: flex;
  justify-content: center;
  align-items: center;

  margin: 10px auto;
  text-transform: uppercase;
  color: #e47a94;
  border: 1px solid #e47a94;
}
.navToCourses {
  text-decoration: none;

  font-size: 20px;
}

.ButtonCorsi:hover {
  background-color: #f3f3f5;
}

.navToCourses {
  color: #e47a94;
}

@media (min-width: 1600px) {
  .socialIcons {
    position: absolute;
    right: 4% !important; /* Lascia spazio per il posizionamento a sinistra se necessario */
    bottom: 45% !important; /* Altezza dal fondo */
    display: flex;
    flex-direction: column !important;
    gap: 50px;
    z-index: 10; /* Assicurati che l'elemento sia visibile sopra gli altri */
  }
  .ButtonCorsi {
    margin-left: 0px;
    width: 50%;
  }
}

@media (max-width: 1600px) {
  .socialIcons {
    position: absolute;
    right: 5% !important; /* Lascia spazio per il posizionamento a sinistra se necessario */
    bottom: 37% !important; /* Altezza dal fondo */
    display: flex;
    flex-direction: column !important;
    gap: 50px;
    z-index: 10; /* Assicurati che l'elemento sia visibile sopra gli altri */
  }

  .heroText {
    position: absolute;
    left: 50px;
    bottom: 45%;
    text-align: left;
    z-index: 10;
  }
  .ButtonCorsi {
    margin-left: 0px;
  }
}

@media (max-width: 1139px) {
  .hero {
    height: 100vh; /* Adjust for smaller screens */
    background-position: 60% 30%; /* Center the background */
    padding-top: 20px;
    background-color: aqua;
  }

  .heroText {
    position: absolute;
    left: unset;
    bottom: unset;
    text-align: center;
    z-index: 10;
  }

  .heroText h1 {
    font-size: 40px;
    color: #f29aa0;
    margin: 0;
  }

  .heroText p {
    font-size: 18px;
    margin-top: 10px;
  }
  .heroText span {
    font-size: 10px;
    display: inline-block;
    transition: all 0.3s ease;
  }

  .heroText span.visible {
    opacity: 1;
    transform: translateY(0);
  }

  .socialIcons {
    position: absolute;
    right: auto !important; /* Lascia spazio per il posizionamento a sinistra se necessario */
    bottom: 25% !important;
    display: flex;
    flex-direction: row !important;
    gap: 50px;
    z-index: 10; /* Assicurati che l'elemento sia visibile sopra gli altri */
  }

  .ButtonCorsi {
    margin: 0 auto;
  }
}

@media (max-width: 500px) {
  .hero {
    height: 100vh;
    background-position: 60% 30%;
    padding-top: 10px;
  }

  .heroText {
    position: absolute;
    left: unset;
    bottom: unset;
    text-align: center;
    z-index: 10;
  }

  .heroText h1 {
    font-size: 40px;
    color: #f29aa0;
    margin: 0;
  }

  .heroText p {
    font-size: 18px;
    margin-top: 5px;
  }
  .heroText span {
    font-size: 10px;
    display: inline-block;
    transition: all 0.3s ease;
  }

  .heroText span.visible {
    opacity: 1;
    transform: translateY(0);
  }

  .socialIcons {
    position: absolute;
    right: 23%;
    bottom: 25% !important;
    top: unset;
    padding: 1px;
    display: flex;
    flex-direction: row;
    gap: 50px;
    background-color: rgba(64, 224, 208, 0.123);
  }

  .ButtonCorsi {
    margin-top: 20px;
    margin-bottom: 20px;
  }
}
