.container {
  position: relative;
  height: 500px;
  padding: 20px 0;
}
.container {
  max-width: 500px;
  width: 100%;
  margin: 0 auto;
}
.imageSectionFirst,
.imageSectionSecond,
.imageSectionThird {
  width: 600px;
  height: 400px;
  background-size: cover;
  filter: blur(0.5px);
  position: absolute;
}

.imageSectionFirst {
  background: url("../../../assets/PNG/Dalle2.png") no-repeat center center;
}

.imageSectionSecond {
  background: url("../../../assets/PNG/Dalle3.png") no-repeat center center;
}

.imageSectionThird {
  background: url("../../../assets/PNG/Dalle5.png") no-repeat center center;
}

.textSection {
  position: absolute;
  top: 150px;
  width: 420px;
  background-color: #f3c7dc;
  padding: 30px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  z-index: 2;
  text-align: center;
}

.textSection.first {
  left: 450px;
}

.imageSection.first {
  top: 0;
  left: 0;
}
.textSection.third {
  left: 450px;
}

.imageSection.third {
  top: 0;
  left: 0;
}

.textSection.second {
  right: 450px;
}

.imageSection.second {
  top: 0;
  right: 0;
}

.textSection h2 {
  font-size: 1.8rem;
  color: white;
  margin-bottom: 20px;
}

.textSection p {
  font-size: 14.5px;
  line-height: 1.6;
  color: #555;
  margin-bottom: 20px;
  font-weight: bold;
}

.button {
  display: flex;
  justify-content: center;
}

.button .navlink {
  text-decoration: none;
  padding: 10px 20px;
  background-color: #fff7fb;
  color: #e892bb;
  font-weight: bold;
  border-radius: 4px;
  transition: background-color 0.3s ease;
}

.button .navlink:hover {
  background-color: #ffffff;
}

.div-separator {
  border: 1px solid #ccc;
  width: 75%;
}





@media (max-width: 1139px) {
  .container {
    height: max-content;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 70px; /* Spazio tra le sezioni */
    
   
  }
  .imageSectionFirst,
  .imageSectionSecond,
  .imageSectionThird {
    width: 500px;
    height: 400px;
    background-size: cover;
    filter: blur(0.5px);
    position: absolute;
  }
  
  .container:first-child {
    margin-top: 30px;
  }

  .container:last-child {
    margin-bottom: 35px;
  }

  .textSection.first,
  .textSection.second,
  .textSection.third {
    width: 450px; /* Adatta la larghezza alla dimensione del contenitore */
    margin-top: 150px; /* Aggiungi margine per separare le sezioni di testo dalle immagini */
    background-color: #f3c7dc;
    padding: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    z-index: 2;
    text-align: center;
    position: static; 
  }

  

 
}


@media (max-width: 359px) {
  .container {
    height: max-content;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 50px; /* Spazio tra le sezioni */
  }

  .imageSectionFirst,
  .imageSectionSecond,
  .imageSectionThird {
    width: 100%; /* Imposta la larghezza al 100% del contenitore */
    max-width: 325px; /* Limita la larghezza massima */
    height: 250px; /* Aumenta l'altezza per vedere l'effetto */
    min-height: 250px; /* Imposta un'altezza minima */
    background-size: cover;
    background-position: center; /* Posiziona l'immagine al centro */
    filter: blur(0.5px);
    position: static; /* Segue il flusso del layout */
    border: 1px solid #ccc; /* Bordo temporaneo per la visualizzazione */
  }

  .textSection.first,
  .textSection.second,
  .textSection.third {
    width: 90%; /* Adatta la larghezza alla dimensione del contenitore */
    margin-top: 10px; /* Aggiungi margine per separare le sezioni di testo dalle immagini */
    background-color: #f3c7dc;
    padding: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    z-index: 2;
    text-align: center;
    position: static; /* Segue il flusso del layout */
  }
}






@media (max-height: 850px) {

  .container {
    height: max-content;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 50px; /* Spazio tra le sezioni */
  }

  .imageSectionFirst,
  .imageSectionSecond,
  .imageSectionThird {
    width: 100%; /* Imposta la larghezza al 100% del contenitore */
    max-width: 325px; /* Limita la larghezza massima */
    height: 250px; /* Aumenta l'altezza per vedere l'effetto */
    min-height: 250px; /* Imposta un'altezza minima */
    background-size: cover;
    background-position: center; /* Posiziona l'immagine al centro */
    filter: blur(0.5px);
    position: static; /* Segue il flusso del layout */
    border: 1px solid #ccc; /* Bordo temporaneo per la visualizzazione */
  }

  .textSection.first,
  .textSection.second,
  .textSection.third {
    width: 90%; /* Adatta la larghezza alla dimensione del contenitore */
    margin-top: 10px; /* Aggiungi margine per separare le sezioni di testo dalle immagini */
    background-color: #f3c7dc;
    padding: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    z-index: 2;
    text-align: center;
    position: static; /* Segue il flusso del layout */
  }

}
