.container {
  position: relative;
  height: 500px;
  padding: 20px 0;
}
.container {
  max-width: 500px;
  width: 100%;
  margin: 0 auto;
}
.imageSectionFirst,
.imageSectionSecond,
.imageSectionThird {
  width: 600px;
  height: 400px;
  background-size: cover;
  filter: blur(0.5px);
  position: absolute;
}

.imageSectionFirst {
  background: url("../../../assets/PNG/Dalle2.png") no-repeat center center;
}

.imageSectionSecond {
  background: url("../../../assets/PNG/Dalle3.png") no-repeat center center;
}

.imageSectionThird {
  background: url("../../../assets/PNG/Dalle5.png") no-repeat center center;
}

.textSection {
  position: absolute;
  top: 150px;
  width: 420px;
  background-color: #f3c7dc;
  padding: 30px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  z-index: 2;
  text-align: center;
}

.textSection.first {
  left: 450px;
}

.imageSection.first {
  top: 0;
  left: 0;
}
.textSection.third {
  left: 450px;
}

.imageSection.third {
  top: 0;
  left: 0;
}

.textSection.second {
  right: 450px;
}

.imageSection.second {
  top: 0;
  right: 0;
}

.textSection h2 {
  font-size: 1.8rem;
  color: white;
  margin-bottom: 20px;
}

.textSection p {
  font-size: 14.5px;
  line-height: 1.6;
  color: #555;
  margin-bottom: 20px;
  font-weight: bold;
}

.button {
  display: flex;
  justify-content: center;
}

.button .navlink {
  text-decoration: none;
  padding: 10px 20px;
  background-color: #fff7fb;
  color: #e892bb;
  font-weight: bold;
  border-radius: 4px;
  transition: background-color 0.3s ease;
}

.button .navlink:hover {
  background-color: #ffffff;
}

.div-separator {
  border: 1px solid #ccc;
  width: 75%;
}
