.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 1.5rem; /* Equivalent to mb-6 */
}

.title {
    font-size: 2rem; /* Equivalent to text-3xl */
    font-weight: bold;
}

.createBtn {
    padding: 10px 20px;
    background-color: #e91e63;
    color: white;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    font-weight: bold;
    transition: background-color 0.3s;
    margin-top: -150px; /* Equivalent to mt-4 */
  }
  
  .createBtn:hover {
    background-color: #d81b60;
  }
  