.testimonialsWrapper {
  position: relative;
  max-width: 1000px;
  width: 900px;
  margin: 50px auto;
  overflow: hidden;
  background-color: white;
  padding: 40px;
  border-radius: 20px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  text-align: center;
  height: 400px;
  opacity: 0; /* Start with hidden */
  transition: opacity 1s ease-in-out; /* Smooth transition */
}

.fadeIn {
  opacity: 1; /* Fade in */
}

.fadeOut {
  opacity: 0; /* Fade out */
}



@media (max-width: 1139px)
{
  .testimonialsWrapper {
    width: 100%;              
    margin: 50px auto;        
    padding: 20px;   
    border-radius: 10px;      
    height: auto;             
  }

  .testimonial {
    display: flex;
    flex-direction: column; 
    align-items: center;    
    width: 100%;            
    margin-bottom: 20px;    
  }

  .testimonial img {
    max-width: 100px;      
    border-radius: 50%;     
    margin-bottom: 10px;    
  }

  .testimonial h3, .testimonial p {
    width: 100%;
    text-align: center; 
  }
}


@media (max-width: 500px) {
  .testimonialsWrapper {
    width: 100%;              
      
    padding: 20px;            
    border-radius: 10px;   
    height: auto;             
  }

  .testimonial {
    display: flex;
    flex-direction: column; 
    align-items: center;    
    width: 100%;            
    margin-bottom: 20px;    
  }

  .testimonial img {
    max-width: 100px;      
    border-radius: 50%;     
    margin-bottom: 10px;    
  }

  .testimonial h3, .testimonial p {
    width: 100%;
    text-align: center; 
  }
}



@media (max-height: 850px){}