.parallaxSection1MarginFiller {
  position: relative;
  height: 400px;
  background: no-repeat center center;
  background-size: cover;
  background-attachment: fixed;
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: url('../../../assets/JPG/paralla.jpg');
}
.reviewTestimonialText {
  font-size: 35pt;
  color: white;
  font-weight: bold;
}