.parallaxSection1MarginFiller {
  position: relative;
  height: 400px;
  background: no-repeat center center;
  background-size: cover;
  background-attachment: fixed;
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: url("../../../assets/JPG/paralla.jpg");
}
.reviewTestimonialText {
  font-size: 35pt;
  color: white;
  font-weight: bold;
  text-align: center;
}

@media (max-width: 1439px) {
  .parallaxSection1MarginFiller {
    position: relative;
    height: 300px;
    width: auto;
    background: no-repeat center center;
    background-size: cover;
    background-attachment: fixed;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url("../../../assets/JPG/paralla.jpg");
  }

  .reviewTestimonialText {
    font-size: 17pt;
    color: white;
    font-weight: bold;
    text-transform: uppercase;
  }
}

@media (max-width: 359px) {
  .parallaxSection1MarginFiller {
    position: relative;
    height: 200px;
    width: auto;
    background: no-repeat center center;
    background-size: cover;
    background-attachment: fixed;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url("../../../assets/JPG/paralla.jpg");
  }

  .reviewTestimonialText {
    font-size: 16pt;
    color: white;
    font-weight: bold;
    text-transform: uppercase;
  }
}
