.accordion {
  width: 100%;
  max-width: 600px;
  margin: -300px auto 0;
}
.accordionItem {
  border-bottom: 1px solid #ccc;
}

.accordionHeader {
  display: flex;
  justify-content: space-between;
  padding: 15px;
  cursor: pointer;
  color: #8b1d1d;
  font-weight: 700;
  text-transform: uppercase;
}

.accordionContent {
  display: block;
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.3s ease;
  padding: 0 15px;
  color: #333;
  font-size: 0.9rem;
  line-height: 1.6;
}

.accordionContent p {
  font-size: 14.4px;
  font-weight: 700;
}

.accordionToggle {
  font-size: 1.2rem;
}

@media (max-width: 950px) {
  .accordion {
    width: 60%; /* Adatta l'accordion alla larghezza del dispositivo */
    max-width: 100%; /* Evita che superi i bordi */
    margin: 0 auto; /* Centra l'accordion */
    padding: 0; /* Elimina spaziature laterali */
  }
  .accordionItem {
    margin-bottom: 10px;
  }
  .accordionHeader {
    padding: 10px; /* Riduci il padding per adattarlo al dispositivo */
    font-size: 0.9rem; /* Riduci leggermente la dimensione del font */
    justify-content: space-between; /* Allinea i contenuti correttamente */
    flex-wrap: wrap; /* Permetti ai contenuti di andare a capo se necessario */
  }

  .accordionToggle {
    font-size: 1rem; /* Dimensione appropriata per il simbolo del toggle */
    margin: 0; /* Elimina margini extra */
  }

  .accordionContent {
    padding: 10px; /* Riduci il padding interno per risparmiare spazio */
    font-size: 0.8rem; /* Riduci la dimensione del testo */
  }
}
