.container {
  width: 100vw;
  height: 100vh;
  padding-top: 150px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.ordersList {
  background-color: aliceblue;
  list-style: none;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  width: 70vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 500px;
}

.ordersContainer .title {
  font-size: 1.5rem;
  font-weight: bold;
  background-color: antiquewhite;
  width: 80vw;
  max-width: 600px;
  min-width: 300px;
  padding: 40px;
  text-align: center;
}
.orderTitle {
  font-size: 1.5rem;
  font-weight: bold;
  margin-bottom: 10px;
}

.orderText {
  font-size: 1rem;
  margin-bottom: 10px;
}

.editContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.editContainer input {
  width: 80%;
  padding: 10px;
  margin-bottom: 10px;
}

.button {
  background-color: pink;
  border: none;
  color: white;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
  border-radius: 10px;
}

.checkoutButton {
  background-color: pink;
  border: none;
  color: white;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
  border-radius: 10px;
    margin-top: 30px;
}
.ordersContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: antiquewhite;
  padding: 20px;
  border-radius: 10px;
  min-width: 300px;
  max-width: 600px;
}
