.container {
  position: relative;
  width: 900px;
  height: 600px;
  margin-bottom: 250px;
}
.imageSection {
  width: 672px;
  height: 1008px;
  background: url("../../../assets/JPG/IMG_7936.jpg") no-repeat center center;
  background-size: cover;
  position: absolute;
}
.textSection {
  font-family: "Josefin Sans", sans-serif;
  position: absolute;
  top: 100px;
  left: 450px;
  width: 403px;
  height: 700px;
  background-color: #f3c7dc;
  padding: 20px 30px; /* Ridotto padding laterale per rendere il testo più compatto */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  z-index: 2;
  text-align: left; /* Allineato a sinistra per uno stile simile all'esempio */
}
.paragraphSectionPresentation {
  font-size: 1.1rem;
  color: #333;
  line-height: 1.6;
  margin-bottom: 20px;
}
.paragraphSection {
  font-size: 0.9rem;
  color: #333;
  line-height: 1.7;
  margin-bottom: 15px; /* Margine ridotto per dare un aspetto più compatto */
}
strong {
  text-decoration: underline;
  color: #8b1d1d;
}

@media (max-width: 1800px) {

  .imageSection {
    width: 672px;
    height: 900px;
    background: url("../../../assets/JPG/IMG_7936.jpg") no-repeat center center;
    background-size: cover;
    position: absolute;
  }
  .textSection {
    font-family: "Josefin Sans", sans-serif;
    position: absolute;
    top: 100px;
    left: 500px;
    width: 403px;
    height: 700px;
    background-color: #f3c7dc;
    padding: 20px 30px; /* Ridotto padding laterale per rendere il testo più compatto */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    z-index: 2;
    text-align: left; /* Allineato a sinistra per uno stile simile all'esempio */
  }

}


@media (max-width: 950px) {
  .container {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    margin: 0 auto;
  }

  .imageSection {
    width: 550px; /* L'immagine occupa tutta la larghezza */
    height: 450px; /* Altezza chiara e proporzionata */
    margin-left: 20px;
    background-size: cover; /* Assicura che l'immagine riempia l'area */
    background-repeat: no-repeat; /* Evita ripetizioni */
    background-position: center; /* Posiziona l'immagine al centro */
    top: -100px;
  }

  .textSection {
    position: relative; /* Posizionamento naturale */
    width: 550px; /* Larghezza completa */
    height:auto;
    margin-left: -55rem;
    margin-top: 20px; /* Spazio tra l'immagine e il testo */
    padding: 20px; /* Spazio interno per leggibilità */
    box-sizing: border-box;
    text-align: center;
    top: 300px;

    overflow: hidden;
    word-break: break-all;
    word-spacing: normal;
  }
}


@media (max-width: 600px) {
  .container {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    margin: 0 auto;
  }

  .imageSection {
    width: 400px; /* L'immagine occupa tutta la larghezza */
    height: 400px; /* Altezza chiara e proporzionata */
    margin-left: 20px;
    background-size: cover; /* Assicura che l'immagine riempia l'area */
    background-repeat: no-repeat; /* Evita ripetizioni */
    background-position: center; /* Posiziona l'immagine al centro */
    top: -100px;
  }

  .textSection {
    position: relative; /* Posizionamento naturale */
    width: 400px; /* Larghezza completa */
    height:auto;
    margin-left: -55rem;
    margin-top: 20px; /* Spazio tra l'immagine e il testo */
    padding: 20px; /* Spazio interno per leggibilità */
    box-sizing: border-box;
    text-align: left;
    top: 200px;

    overflow: hidden;
    word-break: break-all;
    word-spacing: normal;
  }
}

@media (max-width: 359px) {
  .container {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    margin: 0 auto;
  }

  .imageSection {
    width: 300px; /* L'immagine occupa tutta la larghezza */
    height: 350px; /* Altezza chiara e proporzionata */
    margin-left: 20px;
    background-size: cover; /* Assicura che l'immagine riempia l'area */
    background-repeat: no-repeat; /* Evita ripetizioni */
    background-position: center; /* Posiziona l'immagine al centro */
    top: -150px;
  }


   .textSection {
    
    position: relative;
    top: 150px;
    left: 450px;
    width: 300px;
    height: 700px;
    word-break: normal;
    margin-bottom: -250px;
    background-color: #f3c7dc;
    padding: 10px 0px; /* Ridotto padding laterale per rendere il testo più compatto */
 
    text-align: center; /* Allineato a sinistra per uno stile simile all'esempio */

  }


  h2 {
    font-size: 1rem; /* Riduce la dimensione del titolo */
    text-align: center;
    margin-bottom: 8px;
  }

}
