.letterContainer {
    margin-top: 5px;
    display: inline-block;
  }
  
  .letter {
    color:white;
    display: inline-block;
    opacity: 0;
    transform: translateX(-20px);
    transition: opacity 0.3s ease, transform 0.3s ease;
    font-size: 0.9rem;
    text-transform: uppercase;
    font-family: 'Josefin Sans', sans-serif;
    margin-right: 3px;
    margin-left: 2px;
  }
  