  .navbar {
    position: absolute;
    top: 0;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 50px;
    z-index: 10;
    height: 100px;
    font-weight: 400;
    font-size: 10px;
    text-transform: uppercase;
  }

  .navbar .logo img {
    height: 100px;
    width: auto;
    margin-top: 13px;
    margin-left: -13px;
    display: inline-block;
    vertical-align: middle;
  }

  .hamburger {
    display: none;
    cursor: pointer;
    flex-direction: column;
    gap: 5px;
  }

  .hamburger .bar {
    width: 25px;
    height: 3px;
    background-color: #d75494;
    transition: all 0.3s ease;
  }

  .navMenu {
    list-style: none;
    display: flex;
    justify-content: flex-end;
    margin-right: 110px;
    font-family: "Josefin Sans", sans-serif;
    gap: 50px;
  }

  .navMenu.activeMenu {
    display: block;
  }




  @media (max-width: 480px) {
    .navbar {
      position: relative;
      width: 100%;
      height: 100px;
      background-color: black;
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding: 0 10px; /* Aggiunge padding orizzontale */
      z-index: 100;
    }
  
    body, html {
      overflow-x: hidden;
    }
  
    .logo {
      flex-shrink: 1;
      height: 120px;
      overflow: hidden;
      margin-left: 43%; /* Allinea il logo a sinistra */
    }

    .hamburger {
      position: relative;
      margin-left: auto;
      margin-right: 325px;
      display: flex;
      width: 30px;
      height: 30px;
      z-index: 101;
    }
  
      .navMenu {
      position: fixed;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background-color: rgba(0, 0, 0, 0.95); /* Colore di sfondo scuro */
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      z-index: 99; /* Sopra la pagina, ma sotto l'hamburger */
      opacity: 0;
      visibility: hidden;
      transition: opacity 0.3s ease;
    }
  
    .navMenu.active {
      opacity: 1;
      visibility: visible;
      
    }
  
    .navMenu a {
      color: white;
      text-decoration: none;
      font-size: 24px;
      margin: 15px 0;
    }
  }
  
  @media (max-width: 360px) {
    .hamburger {
      position: relative;
      margin-left: auto;
      margin-right: 340px;
      display: flex;
      width: 30px;
      height: 30px;
      z-index: 101;
    }
  }




  @media (min-width: 480px) and (max-width: 932px) and (orientation: landscape) {
    .navbar {
      position: relative;
      width: 100%;
      height: 100px; /* Puoi regolare l'altezza se necessario */
      background-color: black;
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding: 0 20px; /* Aggiusta il padding orizzontale */
      z-index: 100;
    }
  
    body, html {
      overflow-x: hidden;
    }

    .logo {
      flex-shrink: 1;
      height:120px; /* Puoi regolare l'altezza per i telefoni in orizzontale */
      margin-left: 150px; /* Allinea il logo a sinistra */
    }
  
    .hamburger {
      position: relative;
      margin-left: auto;
      margin-right: 195px;
      display: flex;
      width: 30px;
      height: 30px;
      z-index: 101;
    }
  
    .navMenu {
      position: fixed;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background-color: rgba(0, 0, 0, 0.95);
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      z-index: 99;
      opacity: 0;
      visibility: hidden;
      transition: opacity 0.3s ease;
    }
  
    .navMenu.active {
      opacity: 1;
      visibility: visible;
    }
  
    .navMenu a {
      color: white;
      text-decoration: none;
      font-size: 20px; /* Riduci la dimensione del testo per adattarlo agli schermi orizzontali */
      margin: 10px 0;
    }
  }



  /* Iphone xr fixato */
  @media (max-width: 896px) and (orientation: landscape) {
    .hamburger {
      position: relative;
      margin-left: auto;
      margin-right: 100px;
      display: flex;
      width: 30px;
      height: 30px;
      z-index: 101;
    }
    .logo {
      flex-shrink: 1;
      height:120px; /* Puoi regolare l'altezza per i telefoni in orizzontale */
      margin-left: 50px; /* Allinea il logo a sinistra */
    }

    .navMenu {
      position: fixed;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background-color: rgba(0, 0, 0, 0.95);
      display: flex;
      flex-direction: column;
      justify-content: center; /* Centra verticalmente gli elementi */
      align-items: center;
      gap: 20px; /* Aggiunge spazio tra gli elementi per una migliore leggibilità */
      z-index: 99;
      opacity: 0;
      visibility: hidden;
      transition: opacity 0.3s ease;
    }
  
    .navMenu.active {
      opacity: 1;
      visibility: visible;
    }
  
    .navMenu a {
      color: white;
      text-decoration: none;
      font-size: 22px; /* Dimensione del testo per una migliore leggibilità */
      margin: 10px 0; /* Spaziatura verticale */
    }

}

  @media (max-width: 932px) and (orientation: landscape) {
    .hamburger {
      position: relative;
      margin-left: auto;
      margin-right: 100px;
      display: flex;
      width: 30px;
      height: 30px;
      z-index: 101;
    }
    .logo {
      flex-shrink: 1;
      height:120px; /* Puoi regolare l'altezza per i telefoni in orizzontale */
      margin-left: 50px; /* Allinea il logo a sinistra */
    }
    .navMenu {
      position: fixed;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background-color: rgba(0, 0, 0, 0.95);
      display: flex;
      flex-direction: column;
      justify-content: center; /* Centra verticalmente gli elementi */
      align-items: center;
      gap: 20px; /* Aggiunge spazio tra gli elementi per una migliore leggibilità */
      z-index: 99;
      opacity: 0;
      visibility: hidden;
      transition: opacity 0.3s ease;
    }
  
    .navMenu.active {
      opacity: 1;
      visibility: visible;
    }
  
    .navMenu a {
      color: white;
      text-decoration: none;
      font-size: 22px; /* Dimensione del testo per una migliore leggibilità */
      margin: 10px 0; /* Spaziatura verticale */
    }
  }

  


@media (max-width: 844px) and (orientation: landscape) {
  .hamburger {
    position: relative;
    margin-left: auto;
    margin-right: 130px;
    display: flex;
    width: 30px;
    height: 30px;
    z-index: 101;
  }
  .logo {
    flex-shrink: 1;
    height:120px; /* Puoi regolare l'altezza per i telefoni in orizzontale */
    margin-left: 90px; /* Allinea il logo a sinistra */
  }
}


@media (max-width: 740px) and (orientation: landscape) {
  .navbar {
    position: relative;
    width: 100%;
    height: 100px;
    background-color: black;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 15px; /* Riduci il padding per adattare meglio gli elementi */
    z-index: 100;
  }

 
  .logo {
    flex-shrink: 1;
    height: 120px; /* Puoi regolare l'altezza per i telefoni in orizzontale */
    margin-left: 140px; /* Allinea il logo a sinistra */
  }

  .hamburger {
    position: relative;
    margin-left: auto;
    margin-right: 150px;
    display: flex;
    width: 30px;
    height: 30px;
    z-index: 101;
  }


  .navMenu {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.95);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
    z-index: 99;
    opacity: 0;
    visibility: hidden;
    transition: opacity 0.3s ease;
  }

  .navMenu.active {
    opacity: 1;
    visibility: visible;
  }

  .navMenu a {
    color: white;
    text-decoration: none;
    font-size: 20px;
    margin: 10px 0;
  }
}



@media (max-width: 667px) and (orientation: landscape) {
  .hamburger {
    position: relative;
    margin-left: auto;
    margin-right: 200px;
    display: flex;
    width: 30px;
    height: 30px;
    z-index: 101;
  }

  .logo {
    flex-shrink: 1;
    height: 120px; /* Puoi regolare l'altezza per i telefoni in orizzontale */
    margin-left: 260px; /* Allinea il logo a sinistra */
  }

  .navMenu {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.95);
    display: flex;
    flex-direction: column;
    justify-content: center; /* Centra verticalmente gli elementi */
    align-items: center;
    gap: 20px; /* Aggiunge spazio tra gli elementi per una migliore leggibilità */
    z-index: 99;
    opacity: 0;
    visibility: hidden;
    transition: opacity 0.3s ease;
  }

  .navMenu.active {
    opacity: 1;
    visibility: visible;
  }

  .navMenu a {
    color: white;
    text-decoration: none;
    font-size: 22px; /* Dimensione del testo per una migliore leggibilità */
    margin: 10px 0; /* Spaziatura verticale */
  }
}


  /* Tablet Iniza Qua */

  @media (min-width: 600px) and (max-width: 1024px) and (orientation: portrait) {
    .navbar {
      position: relative;
      width: 100%;
      height: 100px; /* Puoi regolare l'altezza se necessario */
      background-color: black;
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding: 0 20px; /* Aggiusta il padding orizzontale */
      z-index: 100;
    }
  
    .hamburger {
      position: relative;
      margin-left: auto;
      margin-right: 160px;
      display: flex;
      width: 30px;
      height: 30px;
      z-index: 101;
    }
  
    .logo {
      flex-shrink: 1;
      height: 120px; /* Puoi regolare l'altezza per i telefoni in orizzontale */
      margin-left: 130px; /* Allinea il logo a sinistra */
    }

    body, html {
      overflow-x: hidden;
    }
    .navMenu {
      position: fixed;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background-color: rgba(0, 0, 0, 0.95);
      display: flex;
      flex-direction: column;
      justify-content: center; /* Centra verticalmente gli elementi */
      align-items: center;
      gap: 30px; /* Aggiunge spazio tra gli elementi per una migliore leggibilità */
      z-index: 99;
      opacity: 0;
      visibility: hidden;
      transition: opacity 0.3s ease;
    }
  
    .navMenu.active {
      opacity: 1;
      visibility: visible;
    }
  
    .navMenu a {
      color: white;
      text-decoration: none;
      font-size: 22px; /* Dimensione del testo per una migliore leggibilità */
      margin: 10px 0; /* Spaziatura verticale */
    }
  }
  

/* tablet in modalità  landscape */
@media (min-width: 600px) and (max-width: 1368px) and (orientation: landscape) {
  .navbar {
    position: relative;
    width: 100%;
    height: 100px;
    background-color: black;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px;
    z-index: 100;
  }

  .hamburger {
    position: relative;
    margin-left: auto;
    margin-right: 160px;
    display: flex;
    width: 30px;
    height: 30px;
    z-index: 101;
  }

  .logo {
    flex-shrink: 1;
    height: 120px;
    margin-left: 130px; 
  }

  body, html {
    overflow-x: hidden;
  }
  .navMenu {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.95);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 30px;
    z-index: 99;
    opacity: 0;
    visibility: hidden;
    transition: opacity 0.3s ease;
  }

  .navMenu.active {
    opacity: 1;
    visibility: visible;
  }

  .navMenu a {
    color: white;
    text-decoration: none;
    font-size: 22px;
    margin: 10px 0;
  }
}




/* laptop responsive here */


@media (min-width: 1369px) and (max-width: 1600px) {
  body, html {
    overflow-x: hidden;
  }
}

@media (min-width: 1600px) {
  .navbar {
    position: relative;
    width: 100%;
    height: 100px;
    background-color: black;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 50px;
    z-index: 100;
  }
  .navbar ul{
    margin-right: 200px;
  }
  body, html {
    overflow-x: hidden;
  }
}