.profileContainer {
  display: flex;
  width: 100vw;
  height: 100vh;
  background-color: antiquewhite;
  border-radius: 15px;
  overflow: hidden;
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.15);
}

.profileSidebar {
  width: 25%;
  background-color: #ffc2d1;
  padding: 135px 10px;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.profileSidebar h2 {
  color: #ff4d94;
  font-size: 2em;
  margin-bottom: 15px;
}
.profileSidebar p {
  color: #333;
  font-size: 1.2em;
  margin-bottom: 25px;
}

.profilePic {
  width: 150px;
  height: 150px;
  border-radius: 50%;
  margin-bottom: 30px;
  border: 4px solid #ff4d94;
}

.editButton {
  font-family: "Josefin Sans";
  background-color: #ff4d94;
  color: #fff;
  border: 0;
  border-radius: 20px;
  padding: 15px 20px;
  cursor: pointer;
  font-size: 1em;
  transition: background-color 0.3s;
  width: 50%;
  margin: 10px 0 20px;
}
.editButton:hover {
  background-color: #ff1a66;
}

.profileContent {
  width: 75%;
  padding: 50px;
  max-width: 1600px;
  background-color: #fff0f5;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.profileContent h1 {
  color: #ff4d94;
  font-size: 2.2em;
  margin-bottom: 30px;
}

.profileContent p {
  color: #333;
  font-size: 1.2em;
  margin: 15px 0;
}

.profileContent p strong {
  color: #ff4d94;
}