.hero {
    height: 100vh;
    min-height: 1300px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-size: cover;
    background-position: center;
    color: #f29aa0; /* Text color */
  }
  
  .hero-content {
    text-align: center;
  }
  