.parallax-section {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-size: cover;
    background-position: center;
    color: #f29aa0; /* Text color */
  }
  
  .parallax-content {
    position: relative;
    color: #f29aa0; /* Adjust color as needed */
    text-align: center;
  }
  
  .parallax-text {
    font-size: 2rem;
    font-weight: bold;
    padding: 20px;
    background: rgba(0, 0, 0, 0.3); /* Semi-transparent background */
    color: #fff;
    border-radius: 5px;
  }
  