.pageContainer {
  display: flex;
  width: 100vw;
  background-image: linear-gradient(to top, #fff5f8, #ffe6f0);
  padding: 0;
  flex-direction: column;
  align-items: center;
  overflow-x: hidden;
}

.parallaxFirst {
  position: relative;
  height: 400px;
  background: url("../../assets/JPG/paralla.jpg") no-repeat center center fixed;
  background-size: cover;
  margin: 130px 50px;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
}

.reviewTestimonial {
  font-size: 35pt;
  font-weight: bold;
  color: white;
  text-align: center;
  margin: 0;
  font-weight: 900;
}
.fullWidthLine {
  border-top: 1px solid #803838;
  width: 58%;
  margin: 20px 0;
}

@media (max-width: 1439px) {
  .parallaxFirst {
    height: 275px;
    margin: 75px;
  }

}


@media(max-width: 768px) {
  .parallaxFirst {
    height: 250px;
    margin: 50px;
  }
  .firstP {
    font-size: 32pt;
    font-weight: bold;
    color: white;
    text-align: center;
    margin: 0;
    font-weight: 900;
  }
  .secondP{
    font-size: 27pt;
    font-weight: bold;
    color: white;
    text-align: center;
    margin: 0;
    font-weight: 900;
  }
}


@media (max-width: 359px) {
  .parallaxFirst {
    height: 200px;
    margin: 50px;
  }
  .firstP {
    font-size: 30pt;
    font-weight: bold;
    color: white;
    text-align: center;
    margin: 0;
    font-weight: 900;
  }
  .secondP{
    font-size: 25pt;
    font-weight: bold;
    color: white;
    text-align: center;
    margin: 0;
    font-weight: 900;
  }
}
