.container {
  background-color: #f4f4f9;
  position: relative;
  width: 100vw;
  height: 85vh;
  transform: translateY(15vh);
  display: flex;
}

.content {
  min-width: 412px;
  padding: 20px;
  display: flex;
  flex-direction: column;
  background-color: lightcoral;
  align-items: center;
}

.sidebar {
  background-color: #e47a94;
  width: 300px;
  min-width: 300px;
  max-width: 300px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.sidebarButton {
  background-color: #e9d2d9;
  color: black;
  padding: 10px;
  margin-right: 40px;
  margin-top: 50px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  width: 50%;
  text-align: center;
}

.sidebarButton:hover {
  background-color: #e47a94;
  color: #f4f4f9;
}

.selected {
  background-color: #e47a94;
  color: #f4f4f9;
}