.footer {
    background-color: #401d2b;
    color: #e6a7b1;
    text-align: center;
    padding: 20px;
    font-size: 0.9rem;
}

.footer-text {
    margin-bottom: 5px;
}

.footer-link {
    color: #f29aa0;
    text-decoration: none;
    transition: color 0.3s ease;
}

.footer-link:hover {
    color: #e6a7b1;
}
