.container {
  width: 100%;
  height: 85vh;
  background-color: thistle;
  display: flex;
  justify-content: center;
}

.container .left {
  width: 50%;
  height: 100%;
  background-color: antiquewhite;
  display: flex;
  flex-direction: column;
  overflow-y: scroll;
}

.container .right {
  width: 50%;
  height: 100%;
  background-color: aquamarine;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.container .left .firstGroup {
  background-color: blueviolet;
  display: flex;
  flex-direction: row;
  width: 100%;
}
.container .left .title {
  background-color: chartreuse;
  display: flex;
  flex-direction: column;
  width: 50%;
}

.container .left .title label {
  font-size: 1.5rem;
  font-weight: bold;
  text-align: start;
  padding: 10px;
  padding-bottom: 0;
}

.container .left .title input {
  width: 50%;
  height: 30px;
  margin: 10px;
}

.container .left .description {
  background-color: crimson;
  display: flex;
  flex-direction: column;
  width: 100%;
}

.container .left .description label {
  font-size: 1.5rem;
  font-weight: bold;
  text-align: start;
  padding: 10px;
  padding-bottom: 0;
}
.container .left .description textarea {
  width: 720px;
  height: 100px;
  margin: 10px;
  resize: none;
  border-radius: 10px;
  padding: 10px;
}

.container .left .section {
  background-color: darkorchid;
  display: flex;
  flex-direction: column;
  width: 50%;
}

.container .left .section label {
  font-size: 1.5rem;
  font-weight: bold;
  text-align: start;
  padding: 10px;
  padding-bottom: 0;
}

.container .left .section select {
  width: fit-content;
  height: 30px;
  margin: 10px;
  padding: 10px;
  border-radius: 10px;
  font-size: 1.5rem;
  text-align: start;
  padding: 5px;
  padding-bottom: 0;
}

.container .left .section select option {
  font-size: 1.5rem;
  text-align: start;
  padding: 10px;
  padding-bottom: 0;
}

.container .left .priceGroup {
  background-color: darksalmon;
  display: flex;
  flex-direction: row;
  width: 100%;
}

.container .left .price {
  background-color: darkorange;
  display: flex;
  flex-direction: column;
  width: 20%;
}

.container .left .price label {
  font-size: 1.5rem;
  font-weight: bold;
  text-align: start;
  padding: 10px;
  padding-bottom: 0;
}

.container .left .price input::-webkit-outer-spin-button,
.container .left .price input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
.container .left .price input[type="number"] {
  appearance: textfield;
  -moz-appearance: textfield;
}

.container .left .price input {
  width: 90%;
  height: 30px;
  margin: 10px auto;
}

.container .left .stripe {
  background-color: darkseagreen;
  display: flex;
  flex-direction: column;
  width: 80%;
}

.container .left .stripe label {
  font-size: 1.5rem;
  font-weight: bold;
  text-align: start;
  padding: 15px;
  padding-bottom: 0;
}

.container .left .stripe input {
  width: 95%;
  height: 30px;
  margin: 10px auto;
}

.container .left .benefitGroup {
  background-color: darkslateblue;
  display: flex;
  flex-direction: row;
}

.container .left .benefitGroup .benefitInput {
  background-color: darkslategray;
  display: flex;
  flex-direction: column;
  width: 50%;
}

.container .left .benefitGroup .benefitInput label {
  font-size: 1.5rem;
  font-weight: bold;
  text-align: start;
  padding: 15px;
  padding-bottom: 0;
}

.container .left .benefitGroup .benefitInput input {
  width: 90%;
  height: 30px;
  margin: 10px auto;
}

.container .left .benefitGroup .benefitDisplay {
  background-color: greenyellow;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 50%;
}

.container .left .benefitGroup .benefit {
  background-color: transparent;
  color: white;
  width: fit-content;
  height: fit-content;
  min-height: 30px;
  padding: 15px;
  margin: 2px;
  border-radius: 10px;
  border: 2px solid thistle;
}

.container .left .excludedGroup {
  background-color: darkturquoise;
  display: flex;
  flex-direction: row;
}

.container .left .excludedGroup .excludedInput {
  background-color: darkviolet;
  display: flex;
  flex-direction: column;
  width: 50%;
}

.container .left .excludedGroup .excludedInput label {
  font-size: 1.5rem;
  font-weight: bold;
  text-align: start;
  padding: 15px;
  padding-bottom: 0;
}

.container .left .excludedGroup .excludedInput input {
  width: 90%;
  height: 30px;
  margin: 10px auto;
}

.container .left .excludedGroup .excludedDisplay {
  background-color: deepskyblue;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 50%;
}

.container .left .excludedGroup .excluded {
  background-color: transparent;
  color: white;
  width: fit-content;
  height: fit-content;
  min-height: 30px;
  padding: 15px;
  margin: 2px;
  border-radius: 10px;
  border: 2px solid thistle;
}

.container .left .category {
  background-color: gold;
  display: flex;
  flex-direction: column;
}

.container .left .category .categoryName {
  background-color: goldenrod;
  display: flex;
  flex-direction: column;
  width: 100%;
}

.container .left .category .categoryName label {
  font-size: 1.5rem;
  font-weight: bold;
  text-align: start;
  padding: 10px;
  padding-bottom: 0;
}

.container .left .category .categoryName input {
  width: 50%;
  height: 30px;
  margin: 10px;
}

.container .left .category .categoryDescription {
  background-color: green;
  display: flex;
  flex-direction: column;
  width: 100%;
}

.container .left .category .categoryDescription label {
  font-size: 1.5rem;
  font-weight: bold;
  text-align: start;
  padding: 10px;
  padding-bottom: 0;
}

.container .left .category .categoryDescription textarea {
  width: 720px;
  height: 80px;
  margin: 10px;
  resize: none;
  border-radius: 10px;
  padding: 10px;
}

.container .left .category button {
  background-color: greenyellow;
  width: 150px;
  height: 30px;
  margin: 0 auto;
  border-radius: 10px;
}
