.container {
  background-color: tomato;
  display: flex;
  flex-direction: column;
}

.FormContainer {
  background-color: thistle;
  display: flex;
  flex-direction: column;
}

.FirstSection {
  background-color: lightblue;
  width: 50%;
}

.SecondSection {
  background-color: lightcoral;
  width: 50%;
}

.ThirdSection {
  background-color: lightgreen;
}

.Group {
  background-color: lightsalmon;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
