.contactSection {
  background-color: #f4d6e4;
  padding: 80px 20px;
  text-align: center;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  height: auto;
}

.container {
  position: relative;
  height: 500px;
  padding: 20px 0;
  max-width: 500px;
  width: 100%;
  margin: 0 auto;
}

.contactForm {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.inputGroup input {
  padding: 12px;
  border: 1px solid #d75494;
  border-radius: 5px;
  font-size: 16px;
  margin-top: 20px;
  width: 90%;
}

.contactButton {
  padding: 12px 40px;
  background-color: transparent;
  border: 2px solid #9b6464;
  color: #9b6464;
  font-size: 16px;
  font-weight: bold;
  border-radius: 5px;
  cursor: pointer;
  transition: all 0.3s ease;
  width:20%;
  margin: 0 auto;
}

.contactButton:hover {
  background-color: #e892bb;
  color: white;
}

.footerDetails {
  margin-top: 30px;
  font-size: 14px;
}

.footerDetails .navlink {
  color: #9b6464;
  text-decoration: none;
}

.footerDetails .navlink:hover {
  text-decoration: underline;
}

.contactSubtitle{
    font-size: 16px;
}