.createCategory .formContent {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.left {
  background-color: aqua;
  width: 50%;
}

.right {
  background-color: yellow;
  width: 50%;
}

.monthsSubCats {
  background-color: aquamarine;
}

.monthsDivision {
  background-color: yellowgreen;
}

.subCatsDivision {
  background-color: lightcoral;
}
