:global(*){
  font-family: "Josefin Sans", sans-serif;
  scroll-behavior: smooth;
  scrollbar-width: thin;
}


* {
  font-family: "Josefin Sans", sans-serif;
  scroll-behavior: smooth;
  scrollbar-width: thin;
}

body {
  margin: -18px;
  padding: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow-x: hidden;
}

