.hero {
  position: relative;
  height: 100vh;
  background-image: url("../../../assets/JPG/IMG_7942.jpg");
  background-color: transparent;
  background-repeat: no-repeat;
  background-position: 20% 45%;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  width: 100vw;
  padding-top: 50px;
  background-size: cover;
}

.hero::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.4);
  z-index: 0;
}
.heroText {
  position: absolute;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%) scale(0.9);
  text-align: center;
  z-index: 10;
  transform-style: preserve-3d;
}
.heroText h1 {
  font-size: 50px;
  color: #f29aa0;
  margin-top: 150%;
}
.bounceArrow {
  position: absolute;
  bottom: 5%;
  left: 50%;
  transform: translateX(-50%);
  font-size: 30px;
  color: white;
  animation: bounce 2s infinite;
  z-index: 10;
}
@keyframes bounce {
  0%,
  to {
    transform: translateY(0) translateX(-50%);
  }
  50% {
    transform: translateY(-20px) translateX(-50%);
  }
}
.bounceArrow i {
  color: #f29aa0;
}

.bounceArrow i:hover {
  color: #f29aa0;
}

@media (min-width: 1600px)
{
  .heroText h1 {
    margin-bottom: -300px;
  
  }
}

@media (max-width: 800px) {
  .hero {
    height: 100vh; /* Adjust for smaller screens */
    background-position: 60% 30%; /* Center the background */
    padding-top: 20px;
  }

  .heroText {
    left: 50%;
    top: 65%;
    z-index: 2;
  }

  .heroText h1 {
    text-align: center;
    font-size: 40px;
    color: #f29aa0;
    margin: 0;
  }
}

@media (max-width: 359px) {
  .hero {
    height: 100vh; /* Adjust for very small screens */
    background-position: 60% 30%;
    padding-top: 10px;
  }

  .heroText {
    position: absolute;
    left: 50%;
    top: 60%;
    z-index: 2;
  }
}
