.sidebar {
    min-width: 205px;

    width: 20%;
    background-color: #f29aa0;
    color: white;
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.title {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 20px;
    color: white;
    text-transform: none;
}

.menu {
    list-style: none;
    padding: 0;
    width: 100%;
}

.menuItem {
    padding: 15px;
    text-align: center;
    cursor: pointer;
    border-radius: 8px;
    margin-bottom: 10px;
    transition: background-color 0.3s;
}
.menuItem .icon {
    margin-right: 10px;
}
.menuItem:hover {
    background-color: #f472b6;
}

.active {
    background-color: #db2777;
}
